

h1{
    background-color: rgba(0, 57, 149, 0.607);
    padding: 20px;
    text-align: center;
}
.container{
    display: flex;
}
.leftside{
    padding: 20px;
    background-color: bisque;
}
#smallcards{
    width: 20%;
}